@import 'https://fonts.googleapis.com/css?family=Arima+Madurai|Galada';

/*
CSS needs 3 things:
1. selector (div, p, a)
2. property to change (height, color, width)
3. value to change it to (80%, 20px, blue)
*/
div {
  background-color: yellow;
  font-size: 30px;
}

body {
  background-color: blue;
}

ul {
  list-style-type: none;
}

.inline {
  display: inline;
}

p {
  color: blue;
}

a {
  border: 1px solid blue;
  border-radius: 10%;
  transition: font-size 1s, color 2ms, transform 5001ms;
  padding: 10px;
  margin: 50px;  
}

/* css pseudo selectors */
a:hover {
  background-color: rgba(21, 212, 4, 0.4);
  text-decoration: none;
  font-size: 40px;
  color: red;
  transform: rotate(3600deg);
}

#navbar {
  z-index: 1;
  position: fixed;
  margin: 0 auto;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  font-family: monospace;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, yellow); /* Standard syntax */
}

/* <div class="text-center"> */
.text-center {
  text-align: center;
}

img {
  transform: rotate(15deg);
  padding: 20px;
  /* set position */
  position: relative;
  /* gives you 'top' 'bottom' 'left' and 'right' */
  left: 400px;
  bottom: -10px;
  z-index: 0;
}



h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Galada', cursive;
}

#main {
  position: relative;
  margin-top: 130px;
}

#side {
  background-color: red;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}